* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    line-height: 1.5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    background-color: #003366;
    padding: 1rem;
}

#logo {
    width: 20%;
}

#logo>a>img {
    width: 80%;
    vertical-align: top;
}

#navbarcontent {
    width: 100%;
}

#navbarContent a {
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

#navbarContent a:hover {
    background-color: rgba(128, 128, 128, 0.371);
}

#navbarContent #active {
    text-decoration: underline white 2px;
    text-underline-offset: 3px;
    cursor: default;
}

#navbarContent #active:hover {
    color: white;
}

.navbar-nav {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
}

.home-hero {
    background-image: url('../images/geography.jpg')
}

#hero {
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 50vh;
    background-size: cover;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    margin-top: 20vh;
    width: fit-content;
    color: white;
    background-color: rgba(128, 128, 128, 0.029);
}

h2 {
    width: fit-content;
    font-size: 2rem;
    padding-top: 1.5rem;
    margin: 0rem auto .2rem;
}

.intro-p {
    width: 40%;
    margin: 0 auto 1.5rem;
    text-align: left;
}

.top-container {
    margin: 5rem auto;
    display: flex;
    justify-content: space-around;
}

.field-box {
    border: thin solid black;
    width: 30%;
    background-color: lightcyan;
}

.field-flex {
    display: flex;
}

.image-flex {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.field-text {
    width: 70%;
}

.field-image img {
    width: 100%;
}

h3 {
    margin: 1rem auto;
}

.field-p {
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

.parallax-image {
    background-position: center;
    width: 100%;
    height: 35vh;
    background-image: url('../images/world-map.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}



.middle-container {
    margin: 2rem auto 0;
}


footer {
    background-color: #003366;
    color: #fff;
    padding: 1.2rem;
}

@media screen and (max-width: 1000px) {
    #hero {
        background-size: 100%;
        background-position: center;
        width: 100%;
        height: 30vh;
        background-image: url('../images/geography.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    #logo {
        margin-left: 2%;
    }

    #logo>a>img {
        width: 35vw;
        vertical-align: top;
        padding: 1px;
    }

    #hamburger {
        background-color: white;
        padding: .2rem;
        margin-right: .5rem;
    }

    h1 {
        font-size: 2.5rem;
        margin-top: 10vh;
    }

    h2 {
        font-size: 1.5rem;
    }

    .intro-p {
        width: 85%
    }
    .parallax-image {
        height: 20vh;
}