* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    line-height: 1.5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    background-color: #003366;
    padding: 1rem;
}

#logo {
    width: 20%;
}

#logo>a>img {
    width: 80%;
    vertical-align: top;
}

#navbarcontent {
    width: 100%;
}

#navbarContent a {
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

#navbarContent a:hover {
    background-color: rgba(128, 128, 128, 0.371);
}

#navbarContent #active {
    text-decoration: underline white 2px;
    text-underline-offset: 3px;
    cursor: default;
}

#navbarContent #active:hover {
    color: white;
}

.navbar-nav {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
}

.home-hero {
    background-image: url('../images/geography.jpg')
}

#hero {
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 30vh;
    background-size: cover;
    display: flex;
    justify-content: center;
}

main {
    height: 50vh;
}

h1 {
    font-size: 3rem;
    margin-top: 10vh;
    width: fit-content;
    color: white;
    background-color: rgba(128, 128, 128, 0.029);
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
}

p {
    width: 40%;
    margin: 0 auto;
    text-align: left;
}

footer {
    background-color: #003366;
    color: #fff;
    padding: 1.2rem;
}

@media screen and (max-width: 1000px) {
    #logo {
        margin-left: 2%;
    }

    #logo>a>img {
        width: 35vw;
        vertical-align: top;
        padding: 1px;
    }

    #hamburger {
        background-color: white;
        padding: .2rem;
        margin-right: .5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        width: 85%
    };
}